<div class='mt-4'>
    <h3>Tất cả khóa học</h3>
    <div class='row'>
        <div class='col-lg-3'>
            <button>đăng ký</button>
            <h2><strong>Trình độ: {{course.level}}</strong></h2>
            <h5 class='mt-16'>Hello mình là Đức, cùng học Nodejs cùng mình node expressjs cùng mình nhá!!! </h5>
        </div>
        <div class='col-lg-9'>
            <h2>{{course.name}}</h2>
            <iframe
                width='560'
                height='315'
                src='https://www.youtube.com/embed/{{course.videoId}}?si=YnsuxL_nIOsK5iGv'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                allowfullscreen
            ></iframe>
            <h4>{{course.description}}</h4>

        </div>
    </div>
</div>