<div class="search-form mt-4">
<form>
  <div class="form-group">
    <label for="search-input">Từ khóa</label>
    <input name="q" type="text" class="form-control"placeholder="Nhập từ khóa ...">
  </div>

  <div class="form-group">
    <label for="gender-input">Từ khóa</label>
    <select name="gender" type="text" class="form-control">
      <option value="" id="">--Chon Gio Tinh--</option>
      <option value="male"  id="">Nam</option>
      <option value="female"  id="">Nu</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>

